/*Common Css Start*/
*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}
ol, ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
/*Common Css End*/
body{
    font-family: 'Lato', sans-serif;
}
/*Nav Section Css Start*/
    Nav{
        /* height: 64px; */
        background-color: #131e29;
    }
        
        nav .logo{
            width: 20%;
        }
        nav .logo img{
            display: block;
        }
        nav .menu{
            width: 80%;
        }
        nav ul{
            justify-content: flex-end;
        }
        nav ul li a{
            display: inline-block;
            font-size: 13px;
            font-weight: 700;
            color: #bfc1c2;
            text-transform: uppercase;
            padding: 42px 18px;
            transition: all .4s linear;
            
        }
        nav ul li:hover a{
            color: #4bcaff;
        }
        nav .row{
            align-items: center;
        }
        /*Banner Section Css Start */
          
        /*Banner Section Css End */ 
        #banner{
            height: 700px;
            background-image: url(../img/content\ bg.png);
            position: relative;
            overflow: hidden;
        }
        
        #banner .container{
            height: 100%;
        }
        #banner .banner-img{
            width: 40%;
            position: absolute;
            left: 0;
            bottom: -85px;
        }
        #banner .banner-img img{
            width: 100%;
        }
        #banner .banner-content h1{
            
        }
        
        #banner .banner-content{
            max-width: 100%;
            color: white;
            margin-left: auto;
            width: 60%;
            
        }
        #banner .row{
            height: 100%;
            align-items: center;
        }
        #banner .container{
            height: 100%;
        }
        #banner .banner 
        #banner .banner-btn{
            color: red;
            margin-top: 60px;
            
            display: inline-block;
            border: 1px;
            margin-top: 40px;
            margin-bottom: 49px;
        }
        #banner .banner-btn a{
            border: 1px solid white;
            display: inline-block;
            color: white;
            padding: 15px;
            border-radius: 10px;
            margin-bottom: 49px;
        }
        #banner .banner-apk-btn{
            flex-wrap: wrap;
            display: flex;
            align-items: center;
           
            margin-bottom: -200px;
        }
        #banner .banner-apk-btn a{
            background-color: #131e29;
            width: 50px;
            height: 50px;
            display: inli;
            border-radius: 50%;
            text-align: center;
            line-height: 50px;
            font-size: 25px;
            color: #4bcaff;
            margin-right: 16px;
        }
        /*Banner Section Css End */
      
/*Nav Section Css End*/ 
        /*gallery Section Css Start*/
            #container{
                height: 1170px;
                background-color: red;
                
                text-align: center;
            }
            #container .text h4{
                font-size: 36px;
            }
            #contaienr .text p{
                font-size: 20px;
            }
            #container .icon{
                size: 20%;
            }
        /*gallery Section Css End*/ 
/*Content Section Css End*/
        content h2{
            padding-top: 250px;
            color: white;
            text-align: right;
        }
/*Content Section Css End*/ 
/*Pricing Section Css End*/
    .priceing-item{
        text-align: center;
        background-color: #f9f9f9;
    }
    .priceing-item li{
        font-size: 18px;
    }
    .priceing-item {
        color: #d7d7d7;
        margin: 0 25px;
    }
    .priceing-item h4{
        padding: 30px;
        
        
    }
    .container.row{
        height: 100%;
        align-items: center;
    }
    .priceing-item P{
        font-size: 85px;
        background-color: #91c46b;
    }
    .container .priceing-item{
        width: calc(30% - 30px);
        border: 1px solid #dad7d7;
        height: 100%;
    }
    
    .container .professional-package{
        width: calc(40% - 90px);
    }
    .container .professional-package p{
        background-color: #4bcaff;
    }
    .container .priceing-item{
        /* padding: 30px; */
    }
    .container .priceing-item a{
        padding: 20px;
        background-color: #91c46b;
        border-radius: 10px;
        display: inline-block;
        margin-bottom: 20px;
        color: white;
        margin-top: 80px;
    }
    .container .professional-package a{
        background-color: #4bcaff;
    }
    .container .priceing-item .Advanced package h4{
        background-color: #fd7c00;
    }
    .container .priceing-item.Advanced-package p{
        background-color: #fd7c00;
    }
    .container .priceing-item.Advanced-package a{
        background-color: #fd7c00;
        color: white;
    }
/*Pricing Section Css End*/ 